
.mainpage{
	 display: flex;
	 text-align: center;
}

.navlink{
	margin-top: 25px;
	text-decoration: none;
	text-align: center;
	margin-left: 420px;
	border: 0 100px;
	padding-right: 10px;
    text-decoration: none;
}

.but2 {
	margin-left: 10px;
}

.but{
    margin-left:450px;
}
.but1{
	margin-left:30px;
}

.navlogo {
	height: 100%;
    background: linear-gradient(93.51deg, #9B51E0 2.84%, #3081ED 99.18%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
}

.img1{
	

}